html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
:root {
	font-size: 16px;
}

.jumbotron {
  background-color:#2E2D88;
  color:white;
}

.btn-default {
  background-color: white;
}

/* Adds borders for tabs */
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.nav-tabs {
  margin-bottom: 0; }

  /* Carousel Styling */
.slide1{
  background-image: url("../IMG/salami_galore1.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url("../IMG/salami_galore2.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url("../IMG/tough_choice.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption {
  h1 {
    font-size: 5.4em;
    padding-bottom: .4em;
  }
  p {
    font-size: 2em;
  }
}

// .carousel-indicators {
//   li {
//     margin: 1em;
//   }
// }

// @mixin small-screen() {
//   @media only screen and (min-width: 576px) {
//     @content;
//   }
// }
//
// @mixin average-screen() {
//   @media only screen and (min-width: 768px) {
//     @content;
//   }
// }
//
// @mixin large-screen() {
//   @media only screen and (min-width: 992px) {
//     @content;
//   }
// }
//
// @mixin extralarge-screen() {
//   @media only screen and (min-width: 1200px) {
//     @content;
//   }
// }
//
// @include small-screens {
// }
